<% @places.each do |place| %>
  <div class="container-fluid">
    <div class="booyah-box col-xs-10 col-xs-offset-1">
      
      <% if place.photos.present? %>
        <div class="col-xs-12 col-sm-3 pull-right">
          <%= image_tag place.photos.first.picture, :class => "img-responsive pull-right" %>
        </div>
      <% end %>
      
      <h1><%= link_to place.name, place_path(place) %></h1>
      <i><%= place.address %></i><br /><br />
      <p><%= place.description %></p><br />
      
      <% if place.user.present? %>
        <small><%= place.user.email %></small>
      <% end %>
      
      <% if place.comments.present? %>
        <div class="col-xs-12">
          <blockquote>
            <% if place.comments.last.humanized_rating.present? %>
              <b><%= place.comments.last.humanized_rating %></b> - 
            <% end %>
            <%= place.comments.last.message %>
            <small><%= place.comments.last.user.email %></small>
          </blockquote>
        </div>
      <% end %>
      
    </div>
  </div>

<% end %>

<br class="clear"/>

<%= @testing.inspect %>
<div class="container-fluid">
  <div class="col-xs-10 col-xs-offset-1 paginated-links-section">
    <%= will_paginate @places, :class => "paginated-link" %>
  </div>
</div>
<br />
<br />
